.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: silver;
  padding: 10px 20px;
  color: white;
}

.left{
  display: flex;
  align-items: center;
}
.logo{
  width: 40px;
  height: 40px;
  margin-left: 50px;
  margin-right: 10px;
}
.team{
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  color: black;
}
.right >button{
  background-color: black;
  color: black;

  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color  ease;
}
.right >button:hover{
  background-color: burlywood;
}
.team-img{
  margin-top: 100px ;
  margin-left: 100px;
  width: 600px;
  height: 500px;
  border-radius: 50px;
  padding-right: 20px ;
}


.team-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;

  
}
.team-left{
  flex:1;
  margin-bottom: 50px;
}
.team-right{
  flex:1;
  padding-left: 30px;
}
.team-des{
  font-size: 18px;
  margin-left: 1px;
  margin-bottom: 20px;
  color: white;
}
.team-goal{
  font-size: 18px;
  color: white;

}
.team-h1{
  color: white;
}
